<div class="breadcrumb">
  <nz-breadcrumb>
    <nz-breadcrumb-item
      *ngFor="
        let breadcrumb of breadcrumbs$ | async;
        let i = index;
        trackBy: trackByBreadcrumbFn
      "
      [routerLink]="i !== 0 && i !== 2 ? breadcrumb.url : null"
      (click)="i !== 0 && i !== 2 ? updateBreadcrumb(i) : null"
    >
      <a>
        {{ breadcrumb.title | translate }}
      </a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <h1>{{ name | translate }}</h1>
  <p>{{ description | translate }}</p>
</div>
